@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,800;1,300;1,400;1,500;1,600&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #f4a261;
    --color-base: #606c38; 
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 220px;
    --font-base: "Poppins";
}

body {
    margin: auto;
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1{
    color: var(--color-heading);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background: var(--color-base);
  padding: 30px;
  height: 100vh;
}

.todo-list{
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.todo{
  background: var(--color-base2);
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
  padding: 3px 10px;
  font-size: 26px;
  margin-bottom: 6px;
  border-radius: 3px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.input{
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 26px;
}
